// SCSS for mobile theme

@import './_presets';
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.mobile-nav {
  display: flex;
  top: 0em;
  position: fixed;
  user-select: none;
  z-index: 99;
  width: 100%;

  .hamburger {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
  }
  .hamburger .hamburger-inner, .hamburger.is-active .hamburger-inner {
    &, &::before, &::after {
      background-color: rgba($color-accent2, 0.8);
    }
  }

  nav {
    width: 100%;
    height: 0vh;
    background: mix($color-accent, rgba(0, 0, 0, 0.5));
    transition: 200ms ease-out all;
    overflow: hidden;
    top: 0em;
    z-index: -1;
    backdrop-filter: blur(8px);
    flex-direction: column;
    align-items: center;

    &.open {
      height: 100vh;

      @keyframes slidein {
        from {
          transform: translateX(-50vw);
          opacity: 0;
        }
        to {
          transform: translateX(0px);
          opacity: 1;
        }
      } 

      @for $i from 1 through 4 {
        span:nth-child(#{$i}n) {
          animation: slidein 0.5s forwards;
          animation-delay: #{$i * 0.1}s;
        }
      }
    }

    span {
      font-size: 2.5em;
      font-weight: 600;
      text-shadow: 0 2px 4px #000;
      opacity: 0;

      &.select {
        background-color: $color-white;
        color: $color-accent;
        text-shadow: none;
      }

      @media only screen and (max-width: 400px) {
        & { font-size: 1.5em; }
      }
    }
  }
}

/* 
 * Reason why I use "!important" on a lot of codes here is because
 * All other stylesheet were called above @media so they are not overriding
 * the original (desktop) CSS. I did found a cleaner solution after I 
 * finished the project and I will fix these later on.
 */

@media only screen and (max-width: 1140px) {
  body section.projects .proj, 
  body section.personal .proj {
    max-width: 80vw;
  }

  body section.contact form, section.contact .sidebar { min-width: 70vw; }
}

@media only screen and (max-width: 800px) {
  body section.home button, body section.skills button { margin: 0em 0.5em; }

  body section.home {
    h1 { margin: 1em 0.5em; }
  }

  body header.about {
    height: 100vh;

    .block {
      flex-direction: column;
      div {
        margin: 1em 0em;
        max-height: 60vh;
        img { margin-right: 0em; }
      }
    }
  }

  body section.skills {
    h1 { margin: 1em; }
  }

  body section.projects .proj, section.personal .proj {
    flex-direction: column;
    box-shadow: 0px 4px 24px #000;
    background: mix(rgba(0, 0, 0, 0), $color-accent);
    padding: 2em 1em;
    margin-top: 2em;
    transition: 500ms ease-out all;
    transform: scale(100%, 100%);

    .right {
      margin: 0;
      max-width: 80vw;
      padding: 0;
      font-size: 0.8em;
      box-shadow: none;
      backdrop-filter: none;

      a {
        margin: 0 0.5em 0.5em;
        padding: 0.5em 1.25em;
        font-size: 1rem;
        text-align: center;
      }
    }

    img {
      border: 1px solid #555;
      transition: 500ms ease-out all;
      box-shadow: 0 0 0 6px $color-white, 0 4px 4px 6px #000;
      transform: rotateZ(0deg);
    }

    .right {
      background: rgba(0, 0, 0, 0);
      transform: initial;
    }

    &:hover {
      transform: scale(102%, 102%);
      background: $color-accent;
    }

    &:hover img {
      transform: rotateZ(5deg);
      box-shadow: 0 0 0 6px $color-white, 0 4px 4px 6px #000;
    }

    &:nth-child(2n):hover img { transform: rotateZ(-5deg); }

    &:hover .right {
      background: rgba(0, 0, 0, 0);
      box-shadow: none;
      transform: initial;
    }

    
  }

  header.projects, header.contact {
    h1, p { text-align: center; }
  }

  body section.contact {
    form, .sidebar {
      min-width: 85vw;
      font-size: 0.8em;
    }

    form:focus-within, form:hover {
      transform: translate(0px, -2px) scale(102%, 102%);
    }

    input[type=submit i], input[type=reset i] {
      padding: 0.5em 1em;
    }
  }
}

@media only screen and (max-width: 600px) {
  body section.skills {
    h1 { margin: 1em; }

    div.skillbox {
      summary {
        text-align: center;
      }
      .split {
        flex-direction: column;
        align-items: center;

        .texts {
          margin-left: 0em;
          margin-top: 1.5em;

          p { margin-left: 0em; }

          .tags span {
            margin: 0.25em;
            padding: 0.5em 1em;
          }
        }
      }
    }

    button {
      margin: 0em 0.5em;
      font-size: 1.25rem;
      padding: 0.75em 1.5em;
    }
  }

  body section.projects, body section.personal, body header.contact {
    font-size: 0.9em;
  }

  body section.filters div div.filter {
    font-size: 0.9rem;
  }

  body footer span {
    margin: 2rem 1.75em;
  }
}

@media only screen and (max-width: 400px) {
  body section.home button, body section.skills button {
    margin: 0em 0.5em;
    font-size: 1.25rem;
    padding: 0.75em 1.5em;
  }

  body section.home {
    h1 {
      margin: 1em 0.5em;
      font-size: 2em;
    }
    dd a {
      font-size: 2.5em;
    }
  }

  body header.about {
    height: 100vh;

    h1 { font-size: 1.5em; }

    .block {
      flex-direction: column;
      margin: 0 0.25em;
      font-size: 0.8em;

      div {
        margin: 0.25em 0em;
        max-height: 60vh;

        img {
          max-width: 6em;
          max-height: 6em;
        }
        .paragraph {
          margin: 0.25em 0.5em;
          padding: 0.75em 1em;
          text-shadow: 2px 2px 2px #000;
          background: rgba(0, 0, 0, 0.8);
          font-weight: 300;
          white-space: pre-line;
          max-width: initial;
          max-height: 50vh;
          overflow: hidden;
          box-shadow: 0 4px 5px -2px rgb(0 0 0 / 50%);
          display: flex;
        }
      }
    }
  }

  body section.skills {
    h1 {
      font-size: 1.5em;
    }

    .flex-skills div.skillbox {
      padding: 0.75em 1em;
      margin: 1em 1em;

      summary {
        text-align: center;
        font-size: 1em;
      }
      .split {
        .texts {
          margin-left: 0em;
          margin-top: 1.25em;
          
          p {
            font-size: 1em;
            margin-bottom: 0.25em;
          }

          .tags span {
            font-size: 0.75em;
            margin: 0.25em;
            padding: 0.5em 0.75em;
          }
        }
      }
    }

    button {
      font-size: 1rem;
      padding: 0.5em 0.75em;
      margin: 0em 0.5em;
    }
  }

  body section.filters {
    h1 { font-size: 0.9rem; }

    div div.filter {
      font-size: 0.8rem;
      padding: 0.5em 0.75em;
      margin: 0.25em;
    }
  }

  body section.projects .proj, 
  body section.personal .proj {
    padding: 0.5em 0em;
    margin-top: 1em;

    h1 {
      font-size: 1em;
    }

    .right {
      margin: 0;
      max-width: 95vw;
      padding: 0;
      font-size: 0.7em;

      dd a {
        margin: 0 0.25em 0.5em;
        padding: 0.5em 0.75em;
        font-size: 0.8rem;
      }
    }

    img {
      width: 160px;
      height: 120px;
    }

    &:hover { transform: scale(101%, 101%); }
    &:hover img { transform: rotateZ(3deg); }
    &:nth-child(2n):hover img { transform: rotateZ(-3deg); }
  }

  body header.projects,
  body header.contact {
    font-size: 0.9em;
  }

  body section.contact {
    form, .sidebar {
      max-width: 80vw;
      font-size: 0.7em;
    }

    form {
      div {
        label { margin: 0.25em 0 0em; }
        input[type=submit i], input[type=reset i] {
          padding: 0.25em .75em;
          font-size: 1.25em;
        }
        &.recaptcha {
          transform: scale(65%);
          margin: -1em;
        }
      }

      &:focus-within, &:hover {
        transform: translate(0px, -2px) scale(101%, 101%);
      }
    }
  }

  body footer span {
    font-size: 0.9em;
    margin: 2rem 1rem;
    text-align: center;
  }
}