// Global presets
$transition: 200ms linear all;

// Colors
$color-white: #EEE;
$color-white2: #AAA;
$color-black: #111;
$color-black2: #222;
$color-accent: #3826ad;
$color-accent2: #6644ff;
$color-transparent: rgba(0, 0, 0, 0);

// Used for navigation menu entries
$nav-item: (
  "&": $color-white,
  "&:hover": $color-accent2,
  "&:active": $color-accent,
  "&.select": $color-white,
);

// Others
%pseudo-block { content: ""; };
