// Global presets
$transition: 200ms linear all;

// Colors
$color-white: #EEE;
$color-white2: #AAA;
$color-black: #111;
$color-black2: #222;
$color-accent: #20F;
$color-accent2: #6644ff;
$color-transparent: rgba(0, 0, 0, 0);

// Used for navigation menu entries
$nav-item: (
  "&": rgba(255, 255, 255, 0),
  "&:hover": rgba(255, 255, 255, 0.2),
  "&:active": rgba(255, 255, 255, 0.4),
);

// Others
%pseudo-block { content: ""; };
