@import './_presets';
$skill-bg-grad: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(20, 20, 20, 1) 100%);

header.about {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: $color-white;

  // Title text
  h1 {
    font-size: 2em;
    text-shadow: 2px 2px 2px #000;
    font-weight: 300;
    margin: 0.25em 1em;
    font-family: Squada One;
  }

  div.block {
    display: flex;
    align-items: center;
    margin: 0 5%;

    img {
      max-width: 10em;
      max-height: 10em;
      margin: 0.5em 0;
      margin-right: 2em;
      border: 1px solid #555;
      box-shadow: 0 0 0 6px $color-white, 0 4px 2px #000;
    }
  
    div.paragraph {
      display: flex;
      margin: 0.5em 1em;
      padding: 1em 2em;
      text-shadow: 2px 2px 2px #000;
      background: rgba(0, 0, 0, 0.8);
      font-weight: 300;
      white-space: pre-line;
      max-width: 40em;
      max-height: 40vh;
      overflow: hidden;
      box-shadow: 0 4px 5px -2px rgb(0, 0, 0, 0.5);
      display: flex;

      div { transition: 500ms ease-out all; }
    }
  }
  
  // Background image part
  div.bg {
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: -1;
    
    // BG Image (purposely made this larget for parallax effects)
    background: url('./img/besomeone.jpg') no-repeat;
    background-size: cover;
    background-position: 75% 50%;

    $shade-cover: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%);
    $shade-top: linear-gradient(0deg, rgba(0, 168, 255, 0) 40%, rgba(10, 0, 73, 1) 100%);

    // Top gradient part
    &:after {
      @extend %pseudo-block;
      position: absolute;
      width: 100%;
      height: inherit;
      top: 0px;
      background: $shade-top, $shade-cover;
      backdrop-filter: blur(4px);
    }
  }
}



section.skills {
  background: $skill-bg-grad, url('./img/pattern.svg') $color-black2;
  background-attachment: scroll, fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    color: $color-white;
    font-weight: 300;
    margin: 2em;
    font-size: 2em;
    font-family: Squada One;
    z-index: 1;
  }

  .flex-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    div.skillbox {
      margin: 1em 2em; 
      padding: 1em 2em;
      max-width: 40em;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.8);
      transition: 200ms linear all;
      transform: translate(0px, 0px) scale(100%, 100%);

      summary {
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 1em;
      }

      .split {
        display: flex;

        .image {
          border: 6px solid $color-white;
          box-shadow: 0 4px 2px #000;
          width: 82px;
          height: 82px;
          transition: 500ms ease-out all;
          transform: rotateZ(0deg) scale(1, 1);

          img {
            width: 80px;
            height: 80px;
            border: 1px solid #555;
            background: rgba(0, 0, 0, 0.3);
          }
        }

        .texts {
          margin-left: 1em;

          p {
            margin: 0 0 0.5em 0.5em;
            font-size: 1.25rem;
            font-weight: 300;
          }
          div.tags {
            display: inline-block;
            text-align: center;
            margin: 0;

            span {
              margin: 0.25em 0.5em;
              padding: 0.5em 1.5em;
              background-color: $color-accent;
              color: #EEE;
              display: inline-block;
              border-radius: 2em;
              transition: 200ms linear all;
              text-shadow: 2px 2px 2px #000;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
              transform: translate(0, 0px);
              user-select: none;

              &:hover {
                background-color: $color-accent2;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
                transform: translate(0, -2px);
              }
            }
          }
        }
      }

      &.front-end {
        .image {
          background: url(./img/iconbg-frontend.jpg);
          background-size: 100%;
          background-position: 50%;
        }
      }

      &.back-end {
        .image {
          background: url(./img/iconbg-backend.jpg);
          background-size: 100%;
          background-position: 50%;
        }
      }

      &.game-dev {
        .image {
          background: url(./img/iconbg-gamedev.jpg);
          background-size: 100%;
          background-position: 50%;
        }
      }

      &.others {
        .image {
          background: url(./img/iconbg-others.jpg);
          background-size: 100%;
          background-position: 50%;
        }
      }

      &:hover {
        background: rgba(255, 255, 255, 0.75);
        transform: translate(0px, -4px) scale(102%, 102%);
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 1);
        
        .image {
          box-shadow: 0 4px 8px #000;
          transform: rotateZ(-10deg) scale(1.2, 1.2);
          background-size: 200%;
        }
      }
    }
  }

  button {
    margin: 2em 0 3em;
    background: rgba(255, 255, 255, 0.5);
    border: 4px solid $color-accent;
    color: $color-accent;
    padding: 1em 1.5em;
    font-size: 1.5rem;
    transition: 200ms linear all, 1000ms linear opacity;
    border-radius: 2em;
    box-shadow: 0px 8px 4px -2px #000;
    backdrop-filter: blur(8px);
    transform: translate(0px, 0px);

    &:not(&:disabled) { cursor: pointer; }

    &.hidden { opacity: 0; }
    &.active { opacity: 1; }

    &:hover:not(&:disabled) { background: rgba(255, 255, 255, 0.8); }
    &:active:not(&:disabled) {
      background: rgba(255, 255, 255, 1);
      transform: translate(0px, 2px);
      box-shadow: 0px 4px 2px -1px #000;
    }
  }
}