// Root SCSS (desktop)
@import './_presets';

@font-face {
  font-family: Roboto;
  src: url(./roboto.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(./roboto-thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Squada One;
  src: url(./squada-one.ttf)
}
@font-face {
  font-family: Noto Sans;
  src: url(./notosans.otf)
}

:root {
  --cloud-x-offset: 0px;
  --accent-color: $color-accent;
}

body {
  margin: 0;
  font-family: Roboto, Noto Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;

  // Old font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif

  // Code block
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  nav {
    top: 0px;
    position: fixed;
    right: 0px;
    user-select: none;
    z-index: 99;

    div.top-wave {
      position: fixed;
      left: 0px;
      width: 100%;
      height: 30em;
      z-index: -1;
      transition: 500ms ease-out all;
      transform: translateY(-500px) scaleY(-1);

      div {
        position: fixed;
        left: 0px;
        width: 100%;
        height: 30em;
      }

      svg {
        top: 0px;
        path {
          fill: $color-accent;
          opacity: 0.5;
        }
      }

      &.active {
        transform: translateY(-400px) scaleY(-1);
      }
    }
    
    // Navigation bar items
    span {
      padding: 1rem 2rem;
      display: inline-block;
      cursor: pointer;
      transition: $transition;
      color: #FFF;
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #000;
      
      @each $name, $bgc in $nav-item {
        #{$name} { background: $bgc; }
      }
    }
  }

  footer {
    width: 100%;
    background: $color-black;
    display: grid;
    color: $color-white2;

    // Footer text
    span {
      margin: 2rem 3rem;
      display: block;
      
    }
  }
}



