@import './_presets';

.mouseContainer {
  width: 1em;
  height: 1em;
  background: $color-accent;
  position: fixed;
  display: flex;
  z-index: 999;
  transition: 500ms ease-in-out all;
  border-radius: 50%;
}